<h1>Cart</h1>
<div class="row">
<% @cart_items.each do |item| %>
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <div class='item-image'><%=image_tag item.image.thumb('400x200#').url%>
      <div class="caption">
        <h3><%= item.title %></h3><br>
        <p>Description: <%= item.description %></p>
        <p>Price: $<%= item.price %></p>
        <p> Quantity: <%= item.quantity %></p><br>
        <%= link_to("Increase Quantity", cart_path(item, :modify => '1'), method: :put) %>
        <%= link_to("Decrease Quantity", cart_path(item, :modify => '-1'), method: :put) %>
        <%= form_tag(cart_path(item.id), method: :put) do%>
          <%= number_field_tag 'update',nil,min:1, placeholder:"Enter Quantity"%>
          <%= submit_tag 'Update Cart' %>
        <% end %><br>
        <p><%= link_to "Remove", cart_path(item.id), method: :delete %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div id="total">
  <p> Total: $<%= @cart.total_price %></p>
</div>
<div id="checkout">
  <% if session[:user_id] == nil %>
    <p><%= button_to "Login or Register to Checkout", '/login', method: :get %>
  <% else %>
    <%= button_to "Checkout", '/orders' %>
  <% end %>
</div>
