<h1>Cart</h1>
<div class="row">
<% @cart.contents.each do |id, quantity| %>
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Name: <%= @bean.find(id).title %></h3>
        <p>Description: <%= @bean.find(id).description %></p>
        <p>Price: <%= @bean.find(id).price %></p>
        <p> Quantity: <%= quantity %></p>
        <p><%= link_to "Remove", cart_path(id), method: :delete %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="total">
  <p> Total: <%= @cart.total_price %></p>
</div>
