

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class ="col-md-7">
        <h2 align=center>Create New Account</h2></br>
          <div class="caption" align=center>
           <%= form_for @user do |f| %>
            <p align=right>First Name: <%= f.text_field :first_name %></p>
            <p align=right>Last Name: <%= f.text_field :last_name %></p>
            <p align=right>Email: <%= f.email_field :email %></p>
            <p align=right>Street Address: <%= f.text_field :street %></p>
            <p align=right>City: <%= f.text_field :city %></p>
            <p align=right>State: <%= f.text_field :state %></p>
            <p align=right>Zip Code: <%= f.text_field :zip %></p>
            <p align=right>Password: <%= f.password_field :password %></p>
            <p align=right>Confirm: <%= f.password_field :password_confirmation %></p></br>
            <h3 align=center><%= f.submit "Submit New Account" %></h3></br>
          <% end %></br>
          </div></br>
   <p align=center><a class="btn btn-success btn-lg" href="/beans" role="button">Continue as Guest</a></p>

    </div>



      <img src="http://www.stanscoffee.com/wp-content/uploads/2014/11/coffee_bag.jpg" alt="coffee bag">


</div>
  </div>
</div>
