<h1>Order History</h1>


<table class="table table-striped" id="orders-table">
  <tr>
    <th>Order Number</th>
    <th>Item Count</th>
    <th>Order Date</th>
    <th>Total Price</th>
    <th>View</th>
  </tr>
    <% @orders.each do |order| %>
      <tr>
        <td id='order-id'><%= order.id %></td>
        <td id='order-item-count'><%= order.item_count %></td>
        <td id='order-date'><%= order.date %></td>
        <td id='order-total'>$<%= order.total_price %></td>
        <td id='view-order-button'><%= button_to 'View Order', order_path(order), method: :get %></td>
      </tr>
    <% end %>
</table>
