<h1>Your Most Recent Order</h1>

<table class="table table-striped" id="order-table">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
    <% @order.contents.each do |id, quantity| %>
      <tr>
        <td id='item-link'><%= link_to "#{Bean.find(id).title}", bean_path(id) %></td>
        <td id='item-quantity'><%= quantity %></td>
        <td id='item-subtotal'>$<%= Bean.find(id).subtotal(quantity) %></td>
      </tr>
    <% end %>
</table>
<div id="order_info">
  <p id='order-total'>Total: $<%= @order.total_price %></p>
  <p id='order-status'>Status: $<%= @order.status %></p>
  <p id='order-created-date'>Order Sent: <%= @order.date %></p>
  <% if @order.completed_or_cancelled? %>
    <p id='order-updated-date'>Order Updated to <%= @order.status %> at <%= @order.update_time %></p>
  <% end %>
</div>
