<h1>Your Most Recent Order</h1>
<!-- <div class="row">
<% @order.contents.each do |id, quantity| %>
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3><%= Bean.find(id).title %></h3><br>
        <p>Description: <%= Bean.find(id).description %></p>
        <p>Price: $<%= Bean.find(id).price %></p>
        <p> Quantity: <%= quantity %></p><br>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div id="total">
  <p> Total: $<%= @cart.total_price %></p>
</div> -->

<table class="table table-striped" id="order-table">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
    <% @order.contents.each do |id, quantity| %>
      <tr>
        <td><%= Bean.find(id).title %></td>
        <td><%= quantity %></td>
        <td><%= Bean.find(id).price %></td>
      </tr>
    <% end %>
</table>
<div id="total">
  <p>Total: $<%= @order.total_price %></p>
</div>
