<h1>Your Most Recent Order</h1>
<div class="row">
<% @order.contents.each do |id, quantity| %>
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3><%= Bean.find(id).title %></h3><br>
        <p>Description: <%= Bean.find(id).description %></p>
        <p>Price: $<%= Bean.find(id).price %></p>
        <p> Quantity: <%= quantity %></p><br>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div id="total">
  <p> Total: $<%= @cart.total_price %></p>
</div>
