<div class='row'>
  <% @beans.each do |bean| %>
    <div class="col-md-4">
      <img src= "<%= bean.image %>"<%= bean.title %>'</img>
      <h3>Name: <%= bean.title %></h3>
      <p>Description: <%= bean.description %></p>
      <p>Price: <%= bean.price %></p>
    </div>
  <% end %>

</div>
