<h1 class="admin-header">Admin Dashboard</h1><br>
<h4 id="view-orders-by">View Orders By:</h4>
<div id="orders-by-status">
<%= link_to "Ordered", admin_dashboard_path(:status_hold => "Ordered")%> |
<%= link_to "Paid", admin_dashboard_path(:status_hold => "Paid")%> |
<%= link_to "Cancelled", admin_dashboard_path(:status_hold => "Cancelled")%> |
<%= link_to "Completed", admin_dashboard_path(:status_hold => "Completed")%> |
<%= link_to "All Orders", admin_dashboard_path(:status_hold => nil)%> |
<%= link_to "View All Items", admin_beans_path%>
</div>
<section>
<h3><%= @order_list_title %>:</h3>
<div class ="order_list">
  <%@orders.each do |order| %>
    <ul class="orders">
      <h4><%=link_to "Order #{order.id}", admin_order_path(order)%></h4>
      <li> Contents: <br>
      <ol>
          <%order.order_beans.each do |order_bean|%>
         <li><strong><%=order_bean.item_title%></strong><br>
          Quantity: <%=order_bean.quantity%> <br>
          <% end %>
          </ol>
          </li>
      <li> Total Price: $<%=order.total_price%></li>
      <li> Status: <%=order.status%></li>
      Change Status:
      <% if order.status == 'Paid' || 'Ordered' %>
      <%= link_to("Cancel", admin_order_path(order, :status => 'Cancelled'), method: :put)%> |
      <% elsif order.status == 'Ordered'  %>
      <%= link_to("Paid", admin_order_path(order, :status => 'Paid'), method: :put)%> |
      <% elsif order.status == 'Paid'%>
      <%= link_to("Completed", admin_order_path(order, :status => 'Completed'), method: :put)%>
      <% end %>
    </ul><br>
  <% end %>
</div>
</section>
<aside>
<div class="order-status">
  <h3>Order Count by Status:</h3>
  <ul>
  <li id="ordered-count">Ordered Count: <%= @all_orders.ordered_count %></li><br>
  <li id="paid-count">Paid Count: <%= @all_orders.paid_count %></li><br>
  <li id="cancelled-count">Cancelled Count: <%= @all_orders.cancelled_count %></li><br>
  <li id="completed-count">Completed Count: <%= @all_orders.completed_count %></li>
  <ul>
</div>
</aside>
