<!DOCTYPE html>
<html>
  <head>
    <title>AbandonedCamelCoffeeMercantile</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Abandoned Camel Coffee Mercantile</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="categories">Categories <span class="sr-only">(current)</span></a></li>
        <li><a href="/beans">All Beans</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if session[:user_id] == nil %>
          <li><a href="/login" class='login'>Login</a></li>
        <% else %>
          <li class='logout'><%= link_to "Logout", '/logout', method: :delete %></li>
          <li class='dashboard'><%= link_to "Dashboard", dashboard_path, method: :get %></li>
        <% end %>
        <li><a href="/cart">Cart ( <%= @cart.cart_count %> )</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--Flash Messages Setup-->
<div style='text-align:center'>
<% flash.each do |type, message| %>
    <% if type == "success" %>
    <%= content_tag :div, sanitize(message), class:"alert-success" %>
    <% elsif type == "danger" %>
    <%= content_tag :div, sanitize(message), class:"alert-danger" %>
    <% else %>
    <%= content_tag :div, sanitize(message), class:"type" %>
    <% end %>
  <% end %>
</div>

    <%= yield %>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Abandoned Camel Coffee Mercantile</span>
        <span class="text-muted"><a href="/beans">All Beans</a></span>
      </div>
    </footer>
  </body>
</html>
